html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

body {
    background: -webkit-linear-gradient(-45deg, #404c86 50%, #d380aa 100%);

}

.middle {

    font-size: 20px;
    font-weight: 700;
    padding: 15px 0;
    font-family: "Arial", Helvetica, sans-serif;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: dodgerblue;
    background: white;
    border-bottom: 1px solid black;
}

.meter,
.botoes,
.resultados {
    position: relative;
    top: 15%;
    text-align: center;
    font-size: 30px;
    font-family: "Arial", Helvetica, sans-serif;
    margin-top: 25px;


}

button {
    width: 25%;
    text-align: center;
    padding: 7px;
    font-family: "Arial", Helvetica, sans-serif;
    border-radius: 10px;
    margin: 0 7px;
}

select {
    font-size: 15px;
    padding: 10px;
    font-family: "Arial", Helvetica, sans-serif;
}

option {
    font-size: 15px;
    font-family: "Arial", Helvetica, sans-serif;
}

#result {
    font-size: 15px;
    text-align: center;
    font-family: "Arial", Helvetica, sans-serif;
    max-height: 100px;
    overflow-y: scroll;
}

#guage {
    position: absolute;
    bottom: 45px;
    font-size: 20px;
    text-align: center;
    width: 100%;
    font-family: "Arial", Helvetica, sans-serif;
}

input {
    font-size: 30px;
    text-align: center;
    font-family: "Arial", Helvetica, sans-serif;
    width: 40%;
}

.icon {
    font-size: 30px;
    color: white;
    background: black;
    box-shadow: 20;
    margin: 5px 10px;
    padding: 10px;
    border-radius: 15px;
}

.verniz {
    background: white;
    padding: 0 2px;
    border-radius: 10px;
}

#mid {
    background: white;
    border-radius: 5px;
    padding: 4px;
}

.logo {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    background-image: url(../imagem/logo.png);
    top: -15px;
    z-index: 5000;
    background-size: contain;
}

.add {
    right: 15%;
}

.subs {
    left: 15%;
}

.h {
    font-size: 25px;
    color: skyblue;
    background: forestgreen;
    margin: 5px 10px;
    padding: 7px;
    border-radius: 15px;
}

#page {
    display: none;
    width: calc(100%-10px);
    height: 100%;
    background: white;
    z-index: 6000;
    position: absolute;
    top: -20px;
    left: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 20px;
    font-family: "Arial", Helvetica, sans-serif;
    padding: 5px;
}
