html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

body {
    background-image: url("../imagem/logo.png");
    background-repeat: no-repeat;
    background-position: center;

}

.middle {

    font-size: 40px;
    font-weight: 700;
    padding: 15px;
    font-family: "Arial", Helvetica, sans-serif;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: dodgerblue;
    background: white;
    border: 1px solid black;
}

.meter,
.botoes,
.resultados {
    position: relative;
    top: 250px;
    text-align: center;
    font-size: 30px;
    font-family: "Arial", Helvetica, sans-serif;
    margin-top: 25px;


}

button {
    width: 20%;
    text-align: center;
    padding: 7px;
    font-family: "Arial", Helvetica, sans-serif;
    border-radius: 10px;
    margin: 0 15px;
}

select {
    font-size: 15px;
    padding: 10px;
    font-family: "Arial", Helvetica, sans-serif;
}

option {
    font-size: 15px;
    font-family: "Arial", Helvetica, sans-serif;
}

#result {
    font-size: 15px;
    text-align: center;
    font-family: "Arial", Helvetica, sans-serif;
    max-height: 100px;
    overflow-y: scroll;
}

#guage {
    position: absolute;
    bottom: 45px;
    font-size: 20px;
    text-align: center;
    width: 100%;
    font-family: "Arial", Helvetica, sans-serif;
}
input
{
    font-size: 30px;
    text-align: center;
    font-family: "Arial", Helvetica, sans-serif;
    width: 40%;
}

.icon
{
  font-size: 30px;
    color: white;
    background: black;
    box-shadow: 20;
    margin: 5px 10px;
    padding: 10px;
    border-radius: 15px;
}
